.contact {
  margin: 6.25rem 1.25rem; /* 100 / 16 =6.25 rem 20/16=1.25rem*/
}

textarea,
input {
  width: 100%;
  padding: 1.14rem; /*16/14=1.14rem*/
  margin-top: 0.625rem; /*10/16=0.625rem*/
  margin-bottom: 0.625rem; /*10/16=0.625rem*/
  border: solid 1px #f0e9ff;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 0.81rem; /*13/16=0.81rem*/
  background: transparent;
  color: #495057;
}
textarea:focus,
input:focus {
  outline: 0;
  box-shadow: none;
}

.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact__firstname {
  padding-right: 1.25rem; /*25/16=1.25re,*/
}

.contact__email {
  padding-left: 1.25rem;
}

.contact__send {
  margin-top: 1.87rem; /*30/16=.187rem*/
}
